<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Axiom.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <Axiom.Properties.Settings>
            <setting name="Format" serializeAs="String">
                <value />
            </setting>
            <setting name="VideoCodec" serializeAs="String">
                <value />
            </setting>
            <setting name="AudioCodec" serializeAs="String">
                <value />
            </setting>
            <setting name="Video" serializeAs="String">
                <value />
            </setting>
            <setting name="VideoBitrateCustom" serializeAs="String">
                <value />
            </setting>
            <setting name="CRFCustom" serializeAs="String">
                <value />
            </setting>
            <setting name="FPS" serializeAs="String">
                <value />
            </setting>
            <setting name="Audio" serializeAs="String">
                <value />
            </setting>
            <setting name="AudioKbpsCustom" serializeAs="String">
                <value />
            </setting>
            <setting name="VBR" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Track" serializeAs="String">
                <value />
            </setting>
            <setting name="Resize" serializeAs="String">
                <value />
            </setting>
            <setting name="WidthCustom" serializeAs="String">
                <value />
            </setting>
            <setting name="HeightCustom" serializeAs="String">
                <value />
            </setting>
            <setting name="Cut" serializeAs="String">
                <value />
            </setting>
            <setting name="StartTime" serializeAs="String">
                <value />
            </setting>
            <setting name="EndTime" serializeAs="String">
                <value />
            </setting>
            <setting name="Preset" serializeAs="String">
                <value />
            </setting>
            <setting name="Subtitles" serializeAs="String">
                <value />
            </setting>
            <setting name="Optimize" serializeAs="String">
                <value />
            </setting>
            <setting name="KeepWindow" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Batch" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BatchExtension" serializeAs="String">
                <value />
            </setting>
            <setting name="logEnable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="checkBoxLog" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ffmpegPath" serializeAs="String">
                <value />
            </setting>
            <setting name="ffprobePath" serializeAs="String">
                <value />
            </setting>
            <setting name="logPath" serializeAs="String">
                <value />
            </setting>
            <setting name="cropWidth" serializeAs="String">
                <value />
            </setting>
            <setting name="cropHeight" serializeAs="String">
                <value />
            </setting>
            <setting name="cropX" serializeAs="String">
                <value />
            </setting>
            <setting name="cropY" serializeAs="String">
                <value />
            </setting>
            <setting name="prefer2Pass" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="threadsSelect" serializeAs="String">
                <value />
            </setting>
            <setting name="threads" serializeAs="String">
                <value />
            </setting>
            <setting name="OptAdvTune" serializeAs="String">
                <value />
            </setting>
            <setting name="OptAdvProfile" serializeAs="String">
                <value />
            </setting>
            <setting name="OptAdvLevel" serializeAs="String">
                <value />
            </setting>
            <setting name="Theme" serializeAs="String">
                <value />
            </setting>
            <setting name="Height" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Width" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Top" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Left" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="inputDir" serializeAs="String">
                <value />
            </setting>
            <setting name="outputDir" serializeAs="String">
                <value />
            </setting>
            <setting name="Maximized" serializeAs="String">
                <value>False</value>
            </setting>
        </Axiom.Properties.Settings>
    </userSettings>
</configuration>