<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Axiom.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <Axiom.Properties.Settings>
            <setting name="Top" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Left" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Width" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Height" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Maximized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UpdateAutoCheck" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CMDWindowKeep" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Log_IsEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LogPath" serializeAs="String">
                <value />
            </setting>
            <setting name="FFmpegPath" serializeAs="String">
                <value />
            </setting>
            <setting name="FFprobePath" serializeAs="String">
                <value />
            </setting>
            <setting name="FFplayPath" serializeAs="String">
                <value />
            </setting>
            <setting name="Theme" serializeAs="String">
                <value />
            </setting>
            <setting name="InputDir" serializeAs="String">
                <value />
            </setting>
            <setting name="OutputDir" serializeAs="String">
                <value />
            </setting>
            <setting name="Threads" serializeAs="String">
                <value />
            </setting>
            <setting name="ThreadsSelect" serializeAs="String">
                <value />
            </setting>
            <setting name="AutoSortScript" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Log_IsChecked" serializeAs="String">
                <value>False</value>
            </setting>
        </Axiom.Properties.Settings>
    </userSettings>
</configuration>